body{
margin:0;
padding:0;
height:100%;
overflow: hidden;
width: 100%;
}

.menu_gorne{
height: 80px;
width: 100%;
background-color: #1d3567;
top: 0;
left: 0px;
position: fixed;
display: flex;
justify-content: center;
align-items: center;
z-index: 2;
}

.menu_srodkowe{
height: 80%;
width: 100%;
}

.tekst1{
color: black;
top: 80px;
left: 350px;
position: fixed;
font-family: Comic Sans MS, Comic Sans, cursive;
font-size: 21px;
cursor: default;
}
.tekst2{
color: #6c757d;
top: 110px;
left: 480px;
position: fixed;
font-family: Comic Sans MS, Comic Sans, cursive;
font-size: 28px;
cursor: default;
}
.kreska1{
position: absolute;
display: flex;
top: 175px;
width: 90px;
height: 5px;
background: #d4cfd5;
left: 520px;
transform: matrix(1, 0, -0.8390996311772798, 1, 0, 0)
}
.kreska2{
position: absolute;
display: flex;
top: 175px;
width: 180px;
height: 5px;
background: #1d3567;
left: 630px;
transform: matrix(1, 0, -0.8390996311772798, 1, 0, 0)
}

.kreska3{
position: absolute;
display: flex;
top: 175px;
width: 90px;
height: 5px;
background: #d4cfd5;
left: 830px;
transform: matrix(1, 0, -0.8390996311772798, 1, 0, 0)
}

.zdjecia{
position: fixed;
display: flex;
top: 190px;
height: 247px;
width: 100%;
background: #c6cace;
}

.mercedessls{
position: fixed;
top: 200px;
left: 100px;
transition: all 0.5s ease-in-out;
}

.mercedessls:hover{
transform: scale(0.9);
}

.bmwm4{
position: fixed;
top: 200px;
left: 940px;
transition: all 0.5s ease-in-out;
}

.bmwm4:hover{
transform: scale(0.9);
}

.mclarenp1{
position: absolute;
top: 10px;
left: 540px;
transition: all 0.5s ease-in-out;
}

.mclarenp1:hover{
transform: scale(0.9);
}

.menu_dolne{
position: absolute;
bottom: 0;
margin: 0;
width: 100%;
height: 60px;
background: #c6cace;
}

.logo{
font-size: 80px;
font-family: Trattatello, fantasy;
text-align: center;
position: relative;
top: 0px;
cursor: default;
left: 40px;
color: white;
}

.facebook{
position: absolute;
left: 5px;
top: 5px;
border-top-left-radius: 42px;
border-top-right-radius: 42px;
border-bottom-left-radius: 40px;
border-bottom-right-radius: 40px;
}

.menu_gorne a{
margin: 0 1rem;
padding: 1rem .5rem;
text-decoration: none;
color: white;
z-index: 2;
}

.dropdown{
position: relative;
left: 400px;
font-size: 30px;
font-family: DejaVu Sans Mono, monospace;
}

.dropdown ul{
width: 200px;
right: 10px;
text-align: center;
position: absolute;
background: #373C58;
padding: 0;
list-style-type: none;
box-shadow: 0px 0px 23px 0px black rgba(0,0,0,0.25);
margin-top: 10px;
border-radius: 7px;
display: none;
}

.dropdown ul li{
padding: .5rem;
}

.dropdown ul li a{
width: 100%;
height: 100%;
display: inline-block;
padding: 0;
margin: 0;
}

.dropdown ul li:hover{
background: #272B3F;
border-radius: 7px;
transition: 0.5s;
}

.dropdown a:focus + ul,
.dropdown a:hover + ul,
.dropdown ul:hover{
display: block;
}

.nazwa{
font-size: 20px;
font-family: DejaVu Sans Mono, monospace;
color: black;
cursor: default;
text-align: center;
position: relative;
left: 30px;
bottom: -18px;
}

.nrtel{
font-size: 20px;
font-family: DejaVu Sans Mono, monospace;
color: black;
cursor: default;
text-align: center;
position: relative;
left: 400px;
bottom: -18px;
}

.mail{
font-size: 20px;
font-family: DejaVu Sans Mono, monospace;
color: black;
cursor: default;
text-align: center;
position: relative;
left: 740px;
bottom: -18px;
}

.google{
position: absolute;
top: 450px;
left: 460px;
}

.a{
height: 30px;
width: 450px;
position: absolute;
border-top-left-radius: 7px;
border-bottom-left-radius: 7px;
font-size: 15px;
background: #c6cace;
font-family: DejaVu Sans Mono, monospace;
padding: 0;
box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 1);
border-style: none;
border-width: 0;
text-align: center;
text-decoration: none;
moz-outline: none;
webkit-outline: none;
o-outline: none;
outline: none;
}

.b{
position: absolute;
top: 0px;
left: 450px;
height: 30px;
width: 70px;
font-size: 15px;
background: #c6cace;
border-top-right-radius: 7px;
border-bottom-right-radius: 7px;
border-width: 0;
box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 1);
border-style: none;
}

.tekst3{
color: black;
top: 100px;
left: 520px;
position: fixed;
font-family: Comic Sans MS, Comic Sans, cursive;
font-size: 21px;
cursor: default;
}

.zdjeciav1{
position: fixed;
display: flex;
top: 160px;
height: 350px;
width: 100%;
background: #c6cace;
}

.kreska4{
position: absolute;
display: flex;
top: 140px;
width: 90px;
height: 5px;
background: #d4cfd5;
left: 520px;
transform: matrix(1, 0, -0.8390996311772798, 1, 0, 0)
}
.kreska5{
position: absolute;
display: flex;
top: 140px;
width: 180px;
height: 5px;
background: #1d3567;
left: 630px;
transform: matrix(1, 0, -0.8390996311772798, 1, 0, 0)
}

.kreska6{
position: absolute;
display: flex;
top: 140px;
width: 90px;
height: 5px;
background: #d4cfd5;
left: 830px;
transform: matrix(1, 0, -0.8390996311772798, 1, 0, 0)
}

.lambo{
position: absolute;
display: flex;
top: 25px;
left: 20px;
transition: all 0.5s ease-in-out;
}

.lambo:hover{
transform: scale(0.9);
}

.kawasaki{
position: absolute;
display: flex;
top: 25px;
left: 482px;
transition: all 0.5s ease-in-out;
}

.kawasaki:hover{
transform: scale(0.9);
}

.jacht{
position: absolute;
display: flex;
top: 25px;
left: 970px;
transition: all 0.5s ease-in-out;
}

.jacht:hover{
transform: scale(0.9);
}

.kreska7{
position: absolute;
display: flex;
top: 140px;
width: 90px;
height: 5px;
background: #d4cfd5;
left: 520px;
transform: matrix(1, 0, -0.8390996311772798, 1, 0, 0)
}
.kreska8{
position: absolute;
display: flex;
top: 140px;
width: 180px;
height: 5px;
background: #1d3567;
left: 630px;
transform: matrix(1, 0, -0.8390996311772798, 1, 0, 0)
}

.kreska9{
position: absolute;
display: flex;
top: 140px;
width: 90px;
height: 5px;
background: #d4cfd5;
left: 830px;
transform: matrix(1, 0, -0.8390996311772798, 1, 0, 0)
}

.o_nas{
color: black;
top: 95px;
left: 565px;
position: fixed;
font-family: Comic Sans MS, Comic Sans, cursive;
font-size: 21px;
cursor: default;
}

.tekst4{
color: black;
font-family: Comic Sans MS, Comic Sans, cursive;
font-size: 20px;
cursor: default;
position: fixed;
text-align: center;
width: 1000px;
left: 220px;
top: 190px;
}

.tekst5{
color: black;
top: 95px;
left: 615px;
position: fixed;
font-family: Comic Sans MS, Comic Sans, cursive;
font-size: 21px;
cursor: default;
}

.mapka{
position: absolute;
display: flex;
top: 160px;
}

.zdjeciav2{
position: fixed;
display: flex;
top: 160px;
height: 450px;
left: 600px;
width: 100%;
background: #c6cace;
}
.find, .findv1, .findv2, .findv3, .findv4{
color: black;
position: fixed;
font-family: Comic Sans MS, Comic Sans, cursive;
font-size: 21px;
cursor: default;
left: 615px;
}
.find{
top:230px;
}
.findv1{
top:260px;
}
.findv2{
top:290px;
}
.findv3{
top:350px;
}
.findv4{
top:380px;
}
.logov1{
position: absolute;
display: flex;
top: 70px;
left: 350px;
border-radius: 20px;
}
.gallardo, .diablo, .countach{
position: fixed;
top: 120px;
transition: all 0.5s ease-in-out;
}
.gallardo{
left: 40px;
}
.diablo{
left: 508px;
}
.countach{
left: 975px;
}
.kreska10, .kreska11, .kreska12{
position: absolute;
display: flex;
top: 96px;
height: 5px;
transform: matrix(1, 0, -0.8390996311772798, 1, 0, 0)
}
.kreska10{
width: 90px;
background: #d4cfd5;
left: 520px;
}
.kreska11{
width: 180px;
background: #1d3567;
left: 630px;
}
.kreska12{
width: 90px;
background: #d4cfd5;
left: 830px;
}
.kreska13, .kreska14, .kreska15{
position: absolute;
display: flex;
top: 390px;
height: 5px;
transform: matrix(1, 0, -0.8390996311772798, 1, 0, 0)
}
.kreska13{
width: 90px;
background: #d4cfd5;
left: 520px;
}
.kreska14{
width: 180px;
background: #1d3567;
left: 630px;
}
.kreska15{
width: 90px;
background: #d4cfd5;
left: 830px;
}
.tlo, .tlo1{
position: fixed;
display: flex;
height: 260px;
width: 100%;
background: #c6cace;
}
.tlo{
top: 115px;
}
.tlo1{
top: 410px;
}
.testarossa, .enzo, .f40{
position: fixed;
top: 415px;
transition: all 0.5s ease-in-out;
}
.testarossa{
left: 975px;
}
.enzo{
left: 40px;
}
.f40{
left: 508px;
}
.diablo:hover, .gallardo:hover, .countach:hover, .testarossa:hover, .enzo:hover, .f40:hover{
transform: scale(0.9);
}

.pol997, .ninja, .r1{
position: fixed;
top: 120px;
transition: all 0.5s ease-in-out;
}
.pol997{
left: 40px;
}
.r1{
left: 508px;
}
.ninja{
left: 975px;
}