<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name = "viewport" content = "width=device-width", initial-scale="1.0">
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <title>ABOUT</title>
</head>
<body>

<div class = "menu_gorne" >

    <a href = "https://www.facebook.com"><img class = "facebook" src="{{ url_for('static', filename = 'fb.png') }}" width="70" height="70"/></a>
    <h1 class = "logo"> DREAM CARS </h1>
    <div class="dropdown">
        <a href="Oferta">MENU</a>
        <ul>
            <li><a href="/login">ZALOGUJ</a></li>
            <li><a href="/gallery">GALERIA</a></li>
            <li><a href="/">HOME</a></li>
            <li><a href="/kontakt">KONTAKT</a></li>
        </ul>
    </div>
</div>

<div class = "menu_srodkowe">

    <div class = "o_nas">Najważniejsze informacje o nas.</div>

    <div class="kreska7"></div>
    <div class="kreska8"></div>
    <div class="kreska9"></div>

    <div class = "zdjeciav1"><a class = "tekst4">Lorem Ipsum is simply dummy text of the printing and
        typesetting industry. Lorem Ipsum has been the industry's standard dummy
        text ever since the 1500s, when an unknown printer took a galley of type
        and scrambled it to make a type specimen book. It has survived not only
        five centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently with
        desktop publishing software like Aldus PageMaker including versions of
        Lorem Ipsum.
                "Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum."</a>
    </div>
</div>

<div class = "menu_dolne">

    <a class="nazwa">dream-cars.com</a>
    <a class="nrtel">nr tel. (+48) 987-654-321</a>
    <a class="mail">d-cars@gmail.com</a>

<script src="https://skrypt-cookies.pl/id/01945235259522dd.js"></script>
</div>

</body>
</html>
