<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name = "viewport" content = "width=device-width", initial-scale="1.0">
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <title>DREAM-CARS</title>
</head>
<body>

<div class = "menu_gorne" >

<a href = "https://www.facebook.com"><img class = "facebook" src="{{ url_for('static', filename = 'fb.png') }}" width="70" height="70"/></a>

<h1 class = "logo"> DREAM CARS </h1>

<div class="dropdown">
    <a href="Oferta">MENU</a>
    <ul>
        <li><a href="/login">ZALOGUJ</a></li>
        <li><a href="/gallery">GALERIA</a></li>
        <li><a href="/about">O NAS</a></li>
        <li><a href="/kontakt">KONTAKT</a></li>
    </ul>
</div>
</div>

<div class = "menu_srodkowe">

    <h1 class="tekst1">Jeżeli lubisz samochody i szukasz tapety na komputer to dobrze trafiłeś!</h1>
    <h1 class="tekst2"><b>Twórz! - Udostępniaj! - Szukaj! ✔️🥇</b></h1>
    <div class="kreska1"></div>
    <div class="kreska2"></div>
    <div class="kreska3"></div>

<!--    <div class = "zdjecia_v1">-->

<!--        <div class = "z1">-->
<!--            <div class = "nazwy">1 / 3</div>-->
<!--            <img src = "mercedessls.jpg" width="400" height="227">-->
<!--            <div class = "teksty">Mercedes SLS</div>-->
<!--        </div>-->

<!--        <div class = "z1">-->
<!--            <div class = "nazwy">2 / 3</div>-->
<!--            <img src = "mclarenp1.jpg" width="360" height="227"">-->
<!--            <div class = "teksty">Mclaren P1</div>-->
<!--        </div>-->

<!--        <div class = "z1">-->
<!--            <div class = "nazwy">3 / 3</div>-->
<!--            <img src = "bmwm4.jpg" width="400" height="227">-->
<!--            <div class = "teksty">BMW M4</div>-->
<!--        </div>-->

<!--        <a class = "wczesniej" onclick = "plusSlides(-1)">&#10094;</a>-->
<!--        <a class = "dalej" onclick = "plusSlides(1)">&#10095;</a>-->

<!--    </div>-->

<!--    <div style="text-align:center">-->
<!--        <span class="dot" onclick="currentSlide(1)"></span>-->
<!--        <span class="dot" onclick="currentSlide(2)"></span>-->
<!--        <span class="dot" onclick="currentSlide(3)"></span>-->
<!--    </div>-->

    <div class = "zdjecia">
        <img class = "mercedessls" src="{{ url_for('static', filename = 'mercedessls.jpg') }}" width="400" height="227"/>
        <img class = "bmwm4" src="{{ url_for('static', filename = 'bmwm4.jpg') }}" width="400" height="227"/>
        <img class = "mclarenp1" src="{{ url_for('static', filename = 'mclarenp1.jpg') }}" width="360" height="227"/>
    </div>

    <div class="google">

    <form action="https://www.google.pl/search" method="get">
    <input class="a" type="text" name="q">
    <input type="hidden" name="ie" value="utf-8">
    <input type="hidden" name="sitesearch" value="www.google.pl">
    <input class="b" type="submit" value="SZUKAJ">
    </form>

    </div>

</div>

<div class = "menu_dolne">

    <a class="nazwa">dream-cars.com</a>
    <a class="nrtel">nr tel. (+48) 987-654-321</a>
    <a class="mail">d-cars@gmail.com</a>

<script src="https://skrypt-cookies.pl/id/01945235259522dd.js"></script>
</div>

</body>
</html>
