<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name = "viewport" content = "width=device-width", initial-scale="1.0">
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <title>KONTAKT</title>
</head>
<body>

<div class = "menu_gorne" >

<a href = "https://www.facebook.com"><img class = "facebook" src="{{ url_for('static', filename = 'fb.png') }}" width="70" height="70"/></a>

<h1 class = "logo"> DREAM CARS </h1>

<div class="dropdown">
    <a href="Oferta">MENU</a>
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/login">ZALOGUJ</a></li>
        <li><a href="/about">O NAS</a></li>
        <li><a href="/gallery">GALERIA</a></li>
    </ul>
</div>
</div>

<div class = "menu_srodkowe">

    <div class = "tekst5">Skontaktuj się z nami.</div>

    <div class="kreska4"></div>
    <div class="kreska5"></div>
    <div class="kreska6"></div>
    <iframe class ="mapka" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2443.6732887427293!2d21.000355863719594!3d52.23115328194784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecc8c49633d1d%3A0xaa349f21569c205!2sTower%2C%20Z%C5%82ota%2044%2C%20Z%C5%82ota%2044%2C%2000-120%20Warszawa!5e0!3m2!1spl!2spl!4v1652954623585!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    <div class = "zdjeciav2">

        <a class = "find">ZNAJDZIESZ NAS TUTAJ!</a>
        <a class = "findv1">- Warszawa 00-120</a>
        <a class = "findv2">- Złota 44</a>
        <a class = "findv3">Nr tel: (+48) 987-654-321</a>
        <a class = "findv4">Adres email: d-cars@gmail.com</a>

        <img class = "logov1" src="{{ url_for('static', filename = 'logo.png') }}" width="450" height="300"/>


    </div>


</div>

<div class = "menu_dolne">

    <a class="nazwa">dream-cars.com</a>
    <a class="nrtel">nr tel. (+48) 987-654-321</a>
    <a class="mail">d-cars@gmail.com</a>

<script src="https://skrypt-cookies.pl/id/01945235259522dd.js"></script>
</div>

</body>
</html>
